@charset "UTF-8";

.container {
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
}

.content {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}

#content_SideMenu {
	border: solid 1px green;
	/*  */
	flex-basis: 10%;
	margin: 20px;
	margin-top: 40px;
	margin-left: 40px;
}

#content_favorite {
	border: solid 1px red;
	background-color: skyblue;
	/*  */
	flex-basis: 60%;
	margin: 20px;
	margin-top: 40px;
	margin-right: 40px;
	padding: 10px;
	/*  */
	display: flex;
	flex-flow: column wrap;
}

.favorite_fev {
	border: solid 1px red;
	background-color: white;
	/*  */
	margin: 10px;
	padding: 10px;
}

#banner_ad {
	border: solid 1px blue;
	align-self: center;
	margin: 50px;
}