@charset "UTF-8";

img {
	width: 200px;
	height: 350px;
	object-fit: contain;
}

.container {
	position: relative;
	justify-content: center;
}

.content {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}

#content_SideMenu {
	border: solid 1px green;
	/*  */
	flex-basis: 200px;
	margin: 20px;
	margin-top: 40px;
	margin-left: 40px;
	/*  */
	filter: alpha(opacity = 50);
	-khtml-opacity: 0.5;
	-moz-opacity: 0.5;
	opacity: 0.5;
}

#content_favorite {
	border: solid 1px red;
	/*  */
	flex-basis: 60%;
	position: relative;
	/*  */
	margin: 20px;
	margin-top: 40px;
	margin-right: 40px;
	padding: 10px;
	margin: 20px
}

#fav_title {
	margin: 30px;
}

.favorite_box {
	border: solid 1px black;
	/*  */
	margin: 10px;
	padding: 20px;
}

#favorite_fev {
	border: solid 1px yellow;
	/*  */
	width: 800px;
	margin: 10px;
	/*  */
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
}

.fev_account {
	border: solid 1px gray;
	align-self: center;
}

.fav_button {
	align-self: center;
}

.fav_button input[type=submit] {
	line-height: 30px;
	font-size: 15px;
	border: none;
	border-radius: 4px;
	padding: 5px;
	margin: 3px;
	/*  */
	opacity: 0.6;
	transition: 0.3s;
}

.fav_button input[type=submit]:hover {
	opacity: 1;
}

#fev_poster:hover {
	opacity: 0.5;
}

#banner_ad {
	border: solid 1px blue;
	/*  */
	align-self: center;
	margin: 50px;
}