@charset "UTF-8";

.fev_poster img {
	width: 200px;
	height: 350px;
	object-fit: contain;
}

.container {
	position: relative;
	justify-content: center;
	font-family: Georgia, "Malgun Gothic", serif;
}

.content {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

#content_SideMenu {
	margin-top: 40px;
	padding: 30px;
}

#content_favorite {
	border: 1px solid gray;
	/*  */
	position: relative;
	/*  */
	margin: 40px 0px 20px 20px;
	padding: 10px;
}

#fav_title {
	margin: 30px;
}

.favorite_box {
	background-color: #FFFFFF;
	/*  */
	margin: 10px;
	padding: 20px;
}

#favorite_fev {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	border: 1px solid gray;
	/*  */
	width: 700px;
	margin: 10px;
}

.fev_account {
	align-self: center;
}

.fav_button {
	align-self: center;
}

.fav_button input[type=submit] {
	line-height: 30px;
	font-size: 15px;
	border: none;
	border-radius: 4px;
	padding: 5px;
	margin: 3px;
	/*  */
	opacity: 0.6;
	transition: 0.3s;
}

.fav_button input[type=submit]:hover {
	opacity: 1;
}

#fev_poster:hover {
	opacity: 0.5;
}

#banner_ad {
	border: solid 1px blue;
	/*  */
	align-self: center;
	margin: 50px;
}